@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');


body {
  font-family: 'Alegreya', serif;
  background-color: #171A1C;
  color: #fff;
  margin-bottom: 4rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 2rem;
  margin-top: 1.1rem;
}

h1 {
  height: 1rem;
}

p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: #fff;
}

.strikethrough {
  text-decoration: line-through;
}

.margin-top {
  margin-top: 2rem;
}

.footer {
  color: #ccc;
  font-size: 0.8rem;
}

.gelo-health {
  color: #ccc;
  text-decoration: none;
}

@media screen and (max-width: 749px) {
  .text {
    padding: 0 1rem;
  }
}
